{% extends "account/base.html" %}

 {% load static %}
 {% load crispy_forms_tags %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/education/showcase-1.webp);">
      <div class="container position-relative">
        <h1>Teacher Dashboard</h1>
        <p>Hello, {{ user.first_name }}!</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Teacher Dashboard</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Teacher Dashboard Section -->
    <section id="teacher-dashboard-section" class="teacher-dashboard-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Teacher Dashboard Section</h2>
        <p>Manage your courses, track student progress, and update your profile.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <div><a href="{% url 'account_management' %}">Manage Account</a></div>
        <div><a href="{% url 'add_vocabulary' %}">Add Vocabulary</a></div>
        <div><a href="{% url 'add_sentence' %}">Add Sentence</a></div>
        <div><a href="{% url 'add_idiom' %}">Add Idiom</a></div>
        <div><a href="{% url 'add_pronunciation' %}">Add Pronunciation</a></div>
        
      </div>

    </section><!-- /Teacher Dashboard Section -->

  </main>
{% endblock %}
 