{% extends "account/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/education/showcase-1.webp);">
        <div class="container position-relative">
            <h1>All Categories</h1>
            <p>Logged in as {{ user.first_name }}!</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">Categories</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Categories Section -->
    <section id="categories-section" class="categories-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Categories Section</h2>
            <a href="{% url 'add_vocab_category' %}" class="btn btn-primary round">Add Vocabulary Category</a>
            <a href="{% url 'add_sentence_category' %}" class="btn btn-secondary round">Add Sentence Category</a>
            <a href="{% url 'add_idiom_category' %}" class="btn btn-success round">Add Idiom Category</a>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- left sidebar -->
                {% include 'account/sidebar.html' %}


                <!-- right side content -->
                <div class="col-md-9">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">VocabularyCategory</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in vocabulary_categories %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ category.category_name }}</td>
                                <td>{{ category.created_at }}</td>
                               <td>
                                   <a href="{% url 'edit_vocab_category' category_id=category.id %}">
                                        <i class="fa-solid fa-pen-to-square" style="color: rgb(116, 192, 252);"></i>
                                    </a>
                                    <a href="{% url 'delete_vocab_category' category_id=category.id %}">
                                        <i class="fa-solid fa-trash" style="color: rgb(210, 59, 22);"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">SentenceCategory</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in sentence_categories %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ category.category_name }}</td>
                                <td>{{ category.created_at }}</td>
                               <td>
                                   <a href="{% url 'edit_sentence_category' category_id=category.id %}">
                                        <i class="fa-solid fa-pen-to-square" style="color: rgb(116, 192, 252);"></i>
                                    </a>
                                    <a href="{% url 'delete_sentence_category' category_id=category.id %}">
                                        <i class="fa-solid fa-trash" style="color: rgb(210, 59, 22);"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Chinese Expression Category</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in idiom_categories %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ category.category_name }}</td>
                                <td>{{ category.created_at }}</td>
                                <td>
                                    <a href="{% url 'edit_idiom_category' category_id=category.id %}">
                                        <i class="fa-solid fa-pen-to-square" style="color: rgb(116, 192, 252);"></i>
                                    </a>
                                    <a href="{% url 'delete_idiom_category' category_id=category.id %}">
                                        <i class="fa-solid fa-trash" style="color: rgb(210, 59, 22);"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </section><!-- /Categories Section -->

</main>
{% endblock %}