{% extends "account/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/education/showcase-1.webp);">
        <div class="container position-relative">
            <h1>All Chinese Expressions</h1>
            <p>Logged in as {{ user.first_name }}!</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">Chinese Expressions</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Idioms Section -->
    <section id="idioms-section" class="idioms-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Chinese Expressions Section</h2>
            <a href="{% url 'add_idiom' %}" class="btn btn-primary round">Add Chinese Expression</a>

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- left sidebar -->
                {% include 'account/sidebar.html' %}


                <!-- right side content -->
                <div class="col-md-9">
                    {% regroup idioms by category as category_list %}
                    {% for category in category_list %}
                    <h4 class="mt-4 mb-3">
                        {{ category.grouper.category_name }}
                    </h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category</th>
                                <th scope="col">Type</th>
                                <th scope="col">Chinese Expression</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in category.list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ i.category.category_name }}</td>
                                <td>{{ i.get_expression_type_display }}</td>
                                <td>{{ i.idiom }}</td>
                                <td>{{ i.created_at }}</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a href="{% url 'edit_idiom' i.id %}"
                                            class="btn btn-sm btn-outline-primary">
                                            Edit
                                        </a>

                                        <a href="{% url 'delete_idiom' i.id %}"
                                            class="btn btn-sm btn-outline-danger"
                                            onclick="return confirm('Are you sure you want to delete {{ i.idiom|escapejs }}?');">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>


    </section><!-- /Idioms Section -->

</main>
{% endblock %}