{% extends "account/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/education/showcase-1.webp);">
        <div class="container position-relative">
            <h1>All Lessons</h1>
            <p>Logged in as {{ user.first_name }}!</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current">Lessons</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Lessons Section -->
    <section id="lessons-section" class="lessons-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Lessons Section</h2>
            <!-- <a href="{% url 'course:course_create' %}" class="btn btn-primary round">Create New Lesson</a> -->

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- left sidebar -->
                {% include 'account/sidebar.html' %}


                <!-- right side content -->
                <div class="col-md-9">
                    {% regroup courses by teacher as teacher_groups %}
                    {% for group in teacher_groups %}
                    <h4 class="mt-4 mb-3">
                        Teacher: {{ group.grouper.first_name }} {{ group.grouper.last_name }}
                    </h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Lesson</th>
                                <th scope="col">Price</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Available Days</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for l in group.list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ l.title }}</td>
                                <td>${{ l.price }}</td>
                                <td>{{ l.duration_minutes }} min</td>
                                <td>{{ l.available_days }}</td>
                                <td>{{ l.created_at }}</td>
                                <td>
                                    <a href="{% url 'delete_lesson' lesson_id=l.id %}">
                                        <i class="fa-solid fa-trash" style="color: rgb(210, 59, 22);"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>


    </section><!-- /Lessons Section -->

</main>
{% endblock %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher</th>
            <th scope="col">Lesson</th>
            <th scope="col">Price</th>
            <th scope="col">Created At</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in courses %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.teacher.first_name }} {{ i.teacher.last_name }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.created_at }}</td>
            <td>

                <a href="{% url 'delete_lesson' lesson_id=i.id %}">
                    <i class="fa-solid fa-trash" style="color: rgb(210, 59, 22);"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>