<div class="col-md-3">
                    <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
                        <a href="{% url 'manager_dashboard' %}" class="nav-link text-dark{% if request.path == '/manager_dashboard/' %} bg-warning{% endif %}">Dashboard</a>
                        <a href="{% url 'categories' %}" class="nav-link text-dark{% if request.path == '/categories/' %} bg-warning{% endif %}">Categories</a>
                        <a href="{% url 'vocabularies' %}" class="nav-link text-dark{% if request.path == '/vocabularies/' %} bg-warning{% endif %}">Vocabularies</a>
                        <a href="{% url 'sentences' %}" class="nav-link text-dark{% if request.path == '/sentences/' %} bg-warning{% endif %}">Sentences</a>
                        <a href="{% url 'idioms' %}" class="nav-link text-dark{% if request.path == '/idioms/' %} bg-warning{% endif %}">Chinese Expressions</a>
                        <a href="{% url 'pronunciations' %}" class="nav-link text-dark{% if request.path == '/pronunciations/' %} bg-warning{% endif %}">BoPoMoFo</a>
                        <a href="{% url 'tones' %}" class="nav-link text-dark{% if request.path == '/tones/' %} bg-warning{% endif %}">Tones</a>
                        <a href="{% url 'lessons' %}" class="nav-link text-dark{% if request.path == '/lessons/' %} bg-warning{% endif %}">Lessons</a>
                        <a href="{% url 'manage_placement_questions' %}" class="nav-link text-dark{% if request.path == '/manage_placement_questions/' %} bg-warning{% endif %}">Placement Questions</a>
                         


                    </div>
                </div>